################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/obj/Debug
/bin/Debug
/StudentObjects/StudentObjects/bin/Debug
/.vs/Student Records/v15/sqlite3
